<nav>
  <% if user_signed_in? %>

    <!-- Welcome bar -->
    <div style="height: 32px; background-color: #121212; color: #fff; text-align: center; line-height: 32px; font-size: 14px;">
      Welcome back, <strong><%= current_user.email %></strong>!
    </div>

    <!-- Main navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark"
         data-bs-theme="dark"
         style="background: linear-gradient(90deg, rgb(252,252,252) 0%, rgb(218,220,221) 1%, rgb(189,189,189) 21%, rgb(156,156,156) 36%, rgb(97,97,97) 61%, rgb(50,50,51) 84%, rgb(12,12,12) 100%);
                height: 84px; font-size: 150%;">

      <%= link_to root_path, class: "navbar-brand d-flex align-items-center", style: "color: black; font-size: 120%;" do %>
        <%= image_tag "pc.png", alt: "Spectare Neon Icon",
              style: "height: 80px; width: 100px; margin-right: -3px;" %>
        <h3 style="font-size: 2.5rem; text-shadow: 0 0 6px #dee7e7ff;">Spectare</h3>
      <% end %>

      <button class="navbar-toggler" type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">

          <li class="nav-item">
            <%= link_to "About", about_path,
                  class: "nav-link",
                  style: "color: black; font-size: 80%;" %>
          </li>

        </ul>

        <form class="d-flex me-3">
          <button class="btn btn-light" type="submit">Search</button>
        </form>

<li class="nav-item">
  <%= link_to "Recommend",
        movies_surprise_path,
        class: "nav-link",
        style: "color: black; font-size: 80%;" %>
</li>



<%= button_to "Logout",
      destroy_user_session_path,
      method: :delete,
      class: "nav-link btn btn-link",
      form: { style: "display:inline" } %>

          </li>
        </ul>
      </div>
    </nav>

  <% else %>

    <!-- Navbar for logged-out users -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      </ul>
    </nav>

  <% end %>
</nav>




