<nav>
  <% if user_signed_in? %>

    <!-- Welcome bar -->
    <div style="height: 32px; background-color: rgb(15, 15, 15); color: #cde7e6; text-align: center; line-height: 32px; font-size: 14px;">
      Welcome back, <strong><%= current_user.email %></strong>!
    </div>

    <!-- Main navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark"
         data-bs-theme="dark"
         style="background: linear-gradient(90deg, rgb(253,255,255) 0%, rgb(253,255,255) 1%, rgb(189,189,189) 21%, rgb(156,156,156) 36%, rgb(59,60,61) 61%, rgb(18,19,19) 84%, rgb(0,0,0) 100%);
                height: 84px; font-size: 150%;  border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-bottom-left-radius: 18px;
                border-bottom-right-radius: 18px;">

      <!-- Brand (NOT a link) -->
      <div class="navbar-brand d-flex align-items-center" style="color: black; font-size: 120%;">
        <%= image_tag "si.png",
              alt: "Spectare Neon Icon",
              style: "height: 50px; width: 70px; margin-right: -17px;" %>
        <h4 style="font-size: 2.5rem; text-shadow: 0 0 6px #dee7e7ff;">pectare</h4>
      </div>

      <button class="navbar-toggler" type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "Home", root_path,
                  class: "nav-link",
                  style: "color: black; font-size: 80%; font-weight: bold;" %>
          </li>

          <li class="nav-item">
            <%= link_to "About", about_path,
                  class: "nav-link",
                  style: "color: black; font-size: 80%; font-weight: bold;" %>
          </li>
        </ul>

        <!-- Right icons -->
        <div class="ml-auto d-flex align-items-center">
<!-- Search dropdown -->
  <div class="dropdown mr-2">
    <button class="btn btn-outline-light p-2 dropdown-toggle"
            type="button"
            id="searchDropdown"
            data-bs-toggle="dropdown"
            title="Search">
      <i class="bi bi-search"></i>
    </button>

    <div class="dropdown-menu dropdown-menu-end p-3" style="min-width: 250px;">
      <input type="text"
             class="form-control"
             placeholder="Search movies..."
             disabled>
    </div>
  </div>
          <!-- Shuffle -->
          <%= link_to "/movies/surprise",
                class: "btn btn-outline-light p-2 mr-2",
                title: "Recommend" do %>
            <i class="bi bi-shuffle"></i>
          <% end %>

  <!-- Profile -->
  <%= link_to profile_path,
        class: "btn btn-outline-primary p-2",
        title: "Profile" do %>
    <i class="bi bi-person-circle"></i>
  <% end %>

</div>

  <% else %>

    <!-- Navbar for logged-out users -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      </ul>
    </nav>

  <% end %>
</nav>
